{% extends 'index.html' %}
{% block content %} 
<!-- Voltar-->
<div class="fixed-top py-1" id="voltar">
    <div class="container px-4 px-lg-5">
        <a href="#" onclick="back()"><span class="icon"></span>Voltar</a>
    </div>
</div>
    <!-- Home-->
    <section class="iniContato">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-75 align-items justify-content">
                <div class="col-lg-8 align-self-start">
                    <h1 class="text-white font-weight-bold">Contato</h1>
                </div>
                
                {% if messages %}
                {% for message in messages %}
                <script>
                    // Função para ativar o modal ao carregar a página
                    window.addEventListener('DOMContentLoaded', function () {
                        var modal = document.getElementById('btnSucesso');
                        modal.click()
                        modal.remove()
                    });
                </script>
                <button id="btnSucesso" type="button" data-bs-toggle="modal" data-bs-target="#modalSucesso" hidden>&nbsp;</button>
                
                <!-- Modal -->
                <div class="modal fade" id="modalSucesso" tabindex="-1" role="dialog" aria-labelledby="modalSucessoLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalSucessoTitle">{{message}}</h5>
                                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer"><button class="btn btn-success" type="button" data-bs-dismiss="modal">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}

                <div class="col-lg-8 align-items py-4 justify-content text-start">
                    <form id="contactForm" method="POST" action="">
                        {% csrf_token %}
                        <!-- Nome input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="nome" id="nome" type="text" required>
                            <label for="name">Nome</label>
                        </div>
                        <!-- Email input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" name="email" id="email" type="email" required>
                            <label for="email">Email</label>
                        </div>
                        <!-- Mensagem input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" name="mensagem" id="mensagem" type="text" style="height: 10rem" required></textarea>
                            <label for="mensagem">Mensagem</label>
                        </div>
                        
                        <!-- Enviar Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
                
            </div>
        </div>
    </section>

{% endblock %}