{% load static %}
<!DOCTYPE html>
<html lang="pt">
    {% load pwa %}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    {% progressive_web_app_meta %}
    <link rel="manifest" href="manifest.json">
    <title>Higiseg App</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    
{% if request.path == '/' %}
    {% block ini %} {% endblock %}
{% else %}

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static "css/styles.css" %}" rel="stylesheet">

    </head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'base' %}"><img src="{% static "assets/logo.jpg" %}" height="40px" width="auto"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link {% if request.path == '/home/' %}active{% endif %}" href="{% url 'base' %}">Início</a></li>
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownA" href="#!" role="button" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">ASOs</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item {% if request.path == '/novoAso/' %}active{% endif %}" href="{% url 'novo_aso' %}">Novo ASO</a>
                                    <a class="dropdown-item {% if request.path == '/listaEmpresasAdmin/' %}active{% endif %}" href="{% url 'lista_empresas_admin' %}">Lista de ASOs por clientes</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownB" href="#!" role="button" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Agendamentos</a>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item {% if request.path == '/novoAgendamento/' %}active{% endif %}" href="{% url 'novo_agendamento' %}">Novo Agendamento</a>
                                    <a class="dropdown-item {% if request.path == '/listaAgendamentosAdmin/' %}active{% endif %}" href="{% url 'lista_agendamentos_admin' %}">Lista de Agendamentos</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                            <li class="nav-item"><a class="nav-link {% if request.path == '/listaAsos/' %}active{% endif %}" href="{% url 'lista_asos' %}">Meus ASOs</a></li>
                            <li class="nav-item"><a class="nav-link {% if request.path == '/listaAgendamentos/' %}active{% endif %}" href="{% url 'lista_agendamentos' %}">Meus Agendamentos</a></li>
                        {% endif %}
                    {% else %}
                        <li class="nav-item"><a class="nav-link {% if request.path == '/login/' %}active{% endif %}" href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link {% if request.path == '/quemSomos/' %}active{% endif %}" href="{% url 'quem_somos' %}">Quem Somos</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/servicos/' %}active{% endif %}" href="{% url 'servicos' %}">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/contato/' %}active{% endif %}" href="{% url 'contato' %}">Contato</a></li>                      
                </ul>
            </div>
        </div>
    </nav>
    
    {% block content %} {% endblock %}

    <!-- Footer -->
    <footer class="footbar footbar-expand-lg footbar-light fixed-bottom py-3" id="footer">
        <div class="container px-4 px-lg-5 text-center">
            Copyright©2023
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static "js/scripts.js" %}"></script>   
    <script>
        function back() {
            window.history.back();
        }
    </script>
    
</body>
</html>
{% endif %}