<!DOCTYPE html>
<html>

    <head>
        <title>Higiseg APP</title>
    </head>
    <body>
        <h1>Lista de asos</h1>
        <ul>Trabalhar a distribuição de link dos modais de mostrar pdf e fazer download no frontend
            {% for aso in asos %}
            <li><a href="{% url 'alterar_aso' aso.id %}">{{aso.id}}</a> {{aso.funcionario}} {{aso.caminho}} {{aso.data}} {{aso.cliente}} <a href="{% url 'delete_aso' aso.id %}">Excluir</a></li>
            {% endfor %}
        </ul>
    </body>

</html>
