{% extends 'index.html' %}
{% block content %}
    <!-- Home-->
    <header class="iniHome">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items justify-content">
                <div class="col-lg-8 align-self-start">
                    <h1 class="text-white font-weight-bold">Acesse a nossa área virtual!</h1>
                </div>
                <div class="col-lg-8 col-xl-6 text-center">
                    <form id="contactForm" method="POST" action="">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input class="form-control" type="text" name="username" id="username" placeholder="" required>
                            <label for="name">Login</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" type="password" name="password" id="password" placeholder="" required>
                            <label for="name">Senha</label>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                            <div class="text-center text-danger mb-3">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Login</button>
                        </div>
                    </form><br>
                    <a href="">Esqueci a Senha</a><br>
                    <a href="{% url 'new_user' %}">Faça seu 1º cadastro</a>
                </div>
            </div>
        </div>
    </header>

{% endblock %}