<!DOCTYPE html>
<html>

    <head>
        <title>Higiseg APP</title>
    </head>
    <body>
        <h1>Novo Aso</h1>
        
        <form id="formNewUser" method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name="texto" id="texto" required><br>
            <input type="file" name="file"><br>
            <label for="cliente">Escolha um cliente:</label>
            <select class="form-control" id="cliente" name="cliente" required>
                {% for c in clientes %}
                    <option value="{{c.id}}">{{c.cliente}}</option>
                {% endfor %}
            </select>
            <a href="#" onclick="document.getElementById('formNewUser').submit();">Salvar</a>
        </form>
        
    </body>

</html>
