{% extends 'index.html' %}
{% block content %} 
    <!-- Home-->
    <header class="iniHome">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items justify-content">
                <div class="col-lg-8 align-self-start">
                    <p>
                    <h2 class="text-white font-weight-bold text-center">Você não está conectado a uma rede</h2>
                    </p>
                    <p>&nbsp;</p>
                    <h3 class="text-white font-weight-bold text-center">Algumas funcionalidades do App necessitam de conexam. Para acessar essa página reestabeleça a conexão!
                    </h3>
                </div>
    </header>

{% endblock %}