{% extends 'index.html' %}
{% block content %} 
    <!-- Home-->
    <header class="iniHome">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-75 align-items justify-content">
                <div class="col-lg-8 align-self-start">
                    <h1 class="text-white font-weight-bold">Quem Somos</h1>
                </div>
                <div class="col-lg-8 align-items justify-content text-start">
                    <h4 class="font-weight-bold" style="color: #F7FF93;">A HigiSeg Consultoria é uma empresa especializada em Consultoria na área de Higiene e Segurança do Trabalho, que foi
                    lançada no mercado contando com uma equipe de profissionais altamente qualificados prestando serviços de confiança e de
                    alta qualidade.</h4>
                </div>
                
            </div>
        </div>
    </header>

{% endblock %}